/* Variables */
:root {
    --tibetan-red: #C8102E;
    --tibetan-blue: #00205B;
    --tibetan-yellow: #fbc02d;
    --tibetan-gold: #F4BB44;
    --white: #ffffff;
    --light-gray: #f5f5f5;
    --dark-gray: #333333;
    --text-dark: #2c2c2c;
} 